.title {
  background: linear-gradient(to bottom, white, #2664e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  font-size: xx-large;
  padding-top: 20px;
}
