.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.gradient {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(45deg, blue, rgb(52, 255, 2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.linkContainer {
  display: flex;
}

.link {
  padding: 0 10px;
  &:hover {
    background: linear-gradient(45deg, blue, rgb(52, 255, 2));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}
