.header {
  padding: 0 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.title {
  font-size: 3rem;
  font-weight: bold;
}

.gradient {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to bottom, #2664e9, #02fd45);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.linkContainer {
  display: flex;
}

.link {
  &:hover {
    background: linear-gradient(to bottom, white, #fbb205);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
  &.active {
    background: #2664e9;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
  }
}
